<!doctype html>
<html>
<head>
  <title>Ratings</title>
  <style>
    body {
      background-color: #b2ffd6
    }
  </style>
</head>
<body>
  <button type="button" id="home">Home</button>
  {% if session.get('user_id'): %}
  <button type="button" id="out-button">Log out</button>
  {% else %}
  <button type="button" id="in-button">Log in</button>
  {% endif %}

  <br>
  <div id="login-form" style="display:none;">
    <h1>Log In</h1>

    <form action="/login" method="POST">
      Email:<input type="text" name="email">
      <br>
      Password:<input type="text" name="password">
      <br>
      <input type="submit" value="Submit">
    </form>
    <br>
    Don't have an account?
    <button type='button' id='register'>Register</button>
  </div>
  <div id="register-form" style="display:none;">
    <h1>Registration Form</h1>

    <form action="/register" method="POST">
      Email:<input type="text" name="email">
      <br>
      Password:<input type="text" name="password">
      <br>
      <input type="submit" value="Sign Up">
    </form>
  </div>
  <br>

  {% for message in get_flashed_messages() %}
    {{ message }}
    <br>
  {% endfor %}


  <hr>

  {% block content %} CONTENT GOES HERE {% endblock %}

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <script>

  {% block javascript %}

  function showLogin() {
    $("#login-form").show();
    $('#in-button').hide();
  }

    function showRegister() {
    $("#register-form").show();
    $('#in-button').hide();
    $('#login-form').hide();
  }

  $('#out-button').on('click', ()=> location.href='/logout');
  $('#home').on('click', ()=> location.href='/');
  $('#register').on('click', showRegister);
  $('#in-button').on('click', showLogin);


  {% endblock %}

  </script>

</body>
</html>