<!doctype html>
<html>
<head>
  <title>Ratings</title>
  <style>
    body {
      background-color: #b2ffd6
    }
  </style>
</head>
<body>
  <button type="button" id="home">Home</button>
  {% if session.get('user_id'): %}
  <button type="button" id="out-button">Log out</button>
  {% else %}
  <button type="button" id="in-button">Log in</button>
  {% endif %}

  <br>

  {% for message in get_flashed_messages() %}
    {{ message }}
    <br>
  {% endfor %}


  <hr>

  {% block content %} CONTENT GOES HERE {% endblock %}

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <script>

  {% block javascript %}

  $('#in-button').on('click', ()=> location.href='/login')
  $('#out-button').on('click', ()=> location.href='/logout')
  $('#home').on('click', ()=> location.href='/')

  {% endblock %}

  </script>

</body>
</html>