{% extends 'base.html' %}

{% block content %}

<h3>Movie Title: {{ movie.title }}</h3>

{% if session['user_id'] %}
  <form action="/add_rating" method="POST">
    Add or update a rating: <input type="text" name="score">
    <input type="hidden" name="movie_id" value="{{ movie.movie_id }}">
    <input type="hidden" name="user_id" value="{{ session['user_id'] }}">
    <input type='submit' value="Submit">

  </form>
{% endif %}

<p><b>Average rating:</b> {{ average }}</p>
{% if prediction %}
  <p>We predict you will rate this movie {{ prediction }}.</p>
{% endif %}
<br>
{% if eye_rating %}
  <p><b>The Eye rates:</b> {{ eye_rating }}.</p>
{% endif %}
<br>
{% if beratement %}
  The Eye says, "{{ beratement }}"</p>
{% endif %}
<br>

<b>Ratings:</b>

  {% for rating in movie_ratings %}
    <ul>
      <li>
        <b>Score:</b> {{ rating.score }}
      </li>
    </ul>
  {% endfor %}

{% endblock %}